body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #3333cc;
  text-align: center;
}

.button {
  width: 300px;
  height: 90px;
  padding: 16px;
  margin-bottom: 16px;
  border: 3px solid #3333cc;
  border-radius: 70px;
  display: inline-block;
  font-size: 14px;
}

.button:hover {
  background-image: url ('/img/pizzabutton.jpg');
  background-position: center center;
  background: #3333cc;
  color: #fff;
}

/* .button:active {
  display: none;
} */

.call-to-action {
  font-size: 20px;
  font-weight: 600;
}

.chat-container {
  width: 80%;
  height: 100%;
  margin: 0 10% 0 10%;
  padding: 0;
  background: rgba(129,196,234,0.4121861832865169);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.speech-bot {
  width: 300px;
  margin: 16px 0 16px 10%;
  border-radius: 15px;
  background: #2626d9;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  position: relative;
}

.bot-triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 15px solid #2626d9;
  border-right: 15px solid #2626d9;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.speech-user {
  width: 300px;
  align-self: flex-end;
  margin-right: 10%;
  border-radius: 15px;
  background: #337fcc;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  position: relative;
}

.user-triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #337fcc;
  border-right: 15px solid transparent;
  border-top: 15px solid #337fcc;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}