body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(248, 213, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

main {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    max-width: 550px;
}

.cards {
    border: 5px solid white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards h1 {
    padding: 20px;
    text-align: center;
}

form h3 {
    margin: 20px 0px 10px 0;
}

.form-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-1 input {
    text-align: center;
    padding: 15px;
    border: none;
    font-size: 18px;
}

.form-2 {
    display: none;
}

.form-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-2 input {
    text-align: center;
    padding: 15px;
    border: none;
    font-size: 18px;
}

.submit-button {
    background: rgb(243, 98, 78);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.submit-button:hover {
    background: rgb(66, 66, 240);
}

.finalize-order {
    display: none;
}

.finalize-order {
    border: 5px solid white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.image-of-pizza {
    display: none;
}

.wrong-pizza {
    display: none;
}

.wrong-pizza {
    background: rgb(243, 98, 78);
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
